<?xml version="1.0" encoding="UTF-8"?>

<plugin id="cordova-plugin-HiddenTabBar" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">

  <name>cordova-plugin-HiddenTabBar</name>
  <description>Cordova plugin that for load a webView.</description>
  <license>Apache 2.0</license>
  <keywords>cordova,phonegap,hideTabBar,custom</keywords>


  <js-module src="www/HiddenTabBar.js" name="HiddenTabBar">
    <clobbers target="HiddenTabBar" />
  </js-module>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="HiddenTabBar">
        <param name="ios-package" value="HiddenTabBar" onload="true" />
      </feature>
    </config-file>

    <header-file src="src/ios/HiddenTabBar.h" />
    <source-file src="src/ios/HiddenTabBar.m" />


  </platform>

</plugin>
